@model EmployeeDeactivation.Models.Employee
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.8.0.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.22/jquery-ui.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        GetTeamNames();
        $('#sponsorDetails').hide();
        
    });

    function GetTeamNames() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetSponsorDetails","Employees")',
            dataType: "json",
            success: function (response) {
                $('#teamNames').append(
                    $('<option selected disabled hidden></option>').val('').html('Choose Here')
                );
                $.each(response, function (i, item) {
                    $('#teamNames').append($('<option>', {
                        value: item.teamName,
                        text: item.teamName
                    }));

                });
            }
        })
    }

        $(document).on("change", "#teamNames", function (e) {
            var teamName = $('#teamNames').val();
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetSponsorDetails", "Employees")',
                dataType: "json",
                success: function (response) {

                    $.each(response, function (i, item) {
                        if (item.teamName == teamName) {
                            $('#sponsorFirstName').val(item.sponsorFirstName + item.sponsorLastName);
                            $('#sponsorEmail').val(item.sponsorEmailD);
                            $('#sponsorDepartment').val(item.department);
                            $('#sponsorDetails').show();

                        }
                    });
                }
            })
        });
    
        $(document).on("click", "#submitbutton", function (e)  {
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddDetails", "Employees")',
                dataType: "json",
                data: { 'firstName': $('#employeeFirstName').val(), 'lastName': $('#employeeLastName').val(), 'gId': $('#employeeGid').val(), 'email': $('#employeeEmail').val(), 'lastWorkingDate': $('#employeeLastWorkingdate').val(),},
                success: function (response) {

                }
               });       
        });

    var Regx="^[a-zA-Z-]+$";
    function ValidateFirstName() {
        if ($('#employeeFirstName').val().trim().search(Regx)) {
            document.getElementById('employeeFirstName').style.borderColor = 'red';
            $('#employeeFNameError').show();
            return false;
        } else {
            document.getElementById('employeeFirstName').style.borderColor = 'grey';
            $('#employeeFNameError').hide();
            return true;
        }
    }

    
    function ValidateLasttName() {
        if ($('#employeeLastName').val().trim().search(Regx)) {
            document.getElementById('employeeLastName').style.borderColor = 'red';
            $('#employeeLNameError').show();
            return false;
        } else {
            document.getElementById('employeeLastName').style.borderColor = 'grey';
            $('#employeeLNameError').hide();
            return true;
        }
    }

    $(function(){
        $("#submitButton").click(function (e) {
     e.preventDefault();
     document.location = '@Url.Action("Pdf","Employees")';
  });
});
</script>

<body>
    <h2>Employee Deactivation Form</h2>
    <br />
    <div class="row">
        <div class="col-md-4">

            <form asp-action="Create">
                <div class="form-group" style="padding-left:6px">
                    <label>
                        First Name:
                    </label>
                </div>
                <div class="form-group">
                    <input type="text" id="employeeFirstName" onkeyup="ValidateFirstName()" />
                </div>
                <div class="form-group">
                    <label id="employeeFNameError" hidden>only Alphabets are allowed</label>

                </div>
                <div class="form-group" style="padding-left:6px">
                    <label>
                        Last Name:
                    </label>
                </div>
                <div class="form-group">
                    <input type="text" id="employeeLastName" />
                </div>
                <div class="form-group">
                    <label id="employeeLNameError" hidden>only Alphabets are allowed</label>

                </div>
                <div class="form-group" style="padding-left:6px">
                    <label>
                        GID:
                    </label>
                </div>
                <div class="form-group">
                    <input type="text" id="employeeGid" />
                </div>
                <div class="form-group" style="padding-left:6px">
                    <label>
                        Email:
                    </label>
                </div>
                <div class="form-group">
                    <input type="text" id="employeeEmail" />
                </div>

                <div class="form-group" style="padding-left:6px">
                    <label>
                        Last Working Date:
                    </label>
                </div>
                <div class="form-group">
                    <input type="date" id="employeeLastWorkingdate" />
                </div>

                <div class="form-group" style="padding-left:6px">
                    <label>
                        Select Team :
                    </label>
                </div>
                <div class="form-group">
                    <select id="teamNames" class="form-control" style="width:71%"></select>
                </div>
                <div id="sponsorDetails">
                    <div class="form-group" style="padding-left:6px">
                        <label>
                            Sponsor Name:
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="text" id="sponsorFirstName" readonly />
                    </div>
                    <div class="form-group" style="padding-left:6px">
                        <label>
                            Sponsor Email:
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="text" id="sponsorEmail" readonly />
                    </div>
                    <div class="form-group" style="padding-left:6px">
                        <label>
                            Sponsor Department:
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="text" id="sponsorDepartment" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <br />
                    <input type="submit" value="Submit" class="btn btn-default" id="submitButton" />

                </div>

            </form>

        </div>
    </div>

</body>




